# Secrets
# Generate via rake secret

SECRET_KEY_BASE_DEVELOPMENT: secret_key_base_string
SECRET_KEY_BASE_PRODUCTION: secret_key_base_string
SECRET_KEY_BASE_TEST: secret_key_base_string


# Database

DB_NAME_DEVELOPMENT: dev_db
DB_USERNAME_DEVELOPMENT: dev_db_user
DB_PASSWORD_DEVELOPMENT: dev_db_pass

DB_NAME_PRODUCTION: prod_db
DB_USERNAME_PRODUCTION: prod_db_user
DB_PASSWORD_PRODUCTION: prod_db_pass

DB_NAME_TEST: test_db
DB_USERNAME_TEST: test_db_user
DB_PASSWORD_TEST: test_db_pass
